/* Comando DROP no SQL */
DROP TABLE tb_clientes2;

CREATE TABLE TABELA_DE_VENDEDORES2 (
    MATRICULA VARCHAR2(5),
    NOME VARCHAR2(100),
    PERCENTUAL_COMISSAO FLOAT
);

DROP TABLE TABELA_DE_VENDEDORES2;