CREATE TABLE TB_CLIENTES (
    CPF VARCHAR(11),
    NOME VARCHAR(100),
    ENDERECO1 VARCHAR(150),
    ENDERECO2 VARCHAR(150),
    BAIRRO VARCHAR(50),
    CIDADE VARCHAR(50),
    ESTADO VARCHAR(2),
    CEP VARCHAR(8),
    IDADE INT,
    SEXO VARCHAR(1),
    LIMITE_CREDITO FLOAT,
    VOLUME_COMPRA FLOAT,
    PRIMEIRA_COMPRA NUMBER(1)
)

CREATE TABLE TB_PRODUTOS (
    PRODUTO VARCHAR2(50),
    NOME VARCHAR2(150),
    EMBALAGEM VARCHAR2(50),
    TAMANHO VARCHAR2(50),
    SABOR VARCHAR2(50),
    PRECO_LISTA FLOAT
)

CREATE TABLE TB_VENDEDORES (
    MATRICULA VARCHAR2(5),
    NOME VARCHAR2(100),
    PERCENTUAL_COMISSAO INT
)